.account {
  
  &__container {
    padding-bottom: var(--grid-gap);
  }

  &__account-box {
    margin-bottom: var(--grid-gap);
  }

}

.account-box {
  @include flex-v-center;
  flex-wrap: wrap;
  gap: var(--grid-gap);

  &__text {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-gray);
  }

  &__number {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-light);
  }

  &__wrapper {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    @include flex-v-center;
    gap: var(--grid-gap);
    flex-wrap: wrap;
  }

  &__btn {
    gap: 10px;
    padding: 15px 32px;

    &-icon {
      display: block;
      width: 24px;
      height: 24px;
      color: var(--color-gray); 

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        fill: transparent;
      }
    }
  }
}

.info {
  @include flex-all-sb;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  
  padding: 60px 40px;
  background-color: var(--color-ebony-clay);
  border-radius: 10px;

  &__all-money {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;

    span {
      font-size: 25px;
      font-weight: 400;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--color-gray);
  }

  &__money {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    &--green {
      color: var(--color-malachite);
    }

    &--red {
      color: var(--color-carnation);
    }
  }
}

@media (max-width: 576px) {

  .info {
    padding: 20px 10px;
    gap: 10px;

    &__all-money {
      font-size: 22px;
    }

    &__text {
      font-size: 12px;
    }

    &__money {
      font-size: 14px;
    }
  }
  
}