.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  min-height: 56px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-light);
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  outline: none;

  &--primary {
    background-color: var(--color-sundance);
    font-size: 16px;
    padding: 18.5px 50px;

    &:hover {
      background-color: #705C21;
    }

    &:focus {
      border-color: #C6AB5B;
    }

    &:active {
      background-color: #3F361A;
    }

    &:disabled {
      background-color: var(--disabled-color);
      color: var(--color-black);
    }
  }

  &--secondary {
    padding: 15px 25px;
    border-color: var(--border-gray);
    font-size: 18px;

    &:hover {
      background-color: var(--border-gray);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
      background-color: transparent;
    }

    &:disabled {
      border-color: var(--disabled-color);
      color: var(--disabled-color);
    }
  }

  
  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    color: var(--color-gray); 

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: transparent;
    }
  }
 
}