.field-date {
  position: relative;
  user-select: none;
  cursor: pointer;

  & .label {
    gap: 6px;
  }

  &__placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-gray);
    transition: font-size 0.2s ease-in-out;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
    position: absolute;
    right: 16px;
    top: 0;
    font-size: 18px;
    color: var(--color-sundance);

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: transparent;
      transition: fill 0.3s ease-in-out;
    }

    &:active svg {
      fill: var(--color-sundance);
    }
  }
  
  &__date {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
    outline: none;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    
    & + span {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 10px;
      transition: border-color 0.3s ease;
    }
    
    &:focus {
      & + span {
        border-color: var(--color-sundance);
      }
    }
  }
    
  &__date::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 100%; 
    height: 100%;
    background-size: 0;
    background-color: transparent;
    cursor: pointer;

    
  }
  
  &__text {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
  }

  input:active + .label .field-date__btn {
    svg {
      fill: var(--color-sundance);
    }
  }
  
  // &__placeholder {
  //   color: #bbb;
  //   font-size: 14px;
  //   margin-bottom: 5px;
  // }
  
}
