.fs-h1 {
  font-weight: 600;
  font-size: var(--fs-h1);
  line-height: 1;
}

.fs-h2 {
  font-weight: 600;
  font-size: var(--fs-h2);
  line-height: 1;
}

.fs-txt {
  font-weight: 600;
  font-size: var(--fs-txt);
  line-height: 1;
}

.fs-small {
  font-weight: 600;
  font-size: var(--fs-small);
  line-height: 1;
}

.fs-extra-small {
  font-weight: 400;
  font-size: var(--fs-extra-small);
  line-height: 1;
}