.form {
  padding-top: var(--grid-gap);
  max-width: 928px;

  *::selection {
    color: var(--color-light);
    background-color: var(--color-sundance);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--grid-gap);

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__title-wrapper {
    grid-column: 2 span;
    display: flex;
    align-items: flex-end;
    gap: 13px;
  }

  &__title {
    margin: 0;
    color: var(--color-light);
  }

  &__subtitle {
    color: var(--color-gray);
  }


  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--grid-gap);
  }

  &__placeholder {
    color: #bbb;
  }

  &__select {
    grid-column: 2 span;
  }

}


.form-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  padding-bottom: var(--grid-gap);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    color: var(--color-light);

    &--gray {
      color: var(--color-gray);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 100%;
    color: var(--color-light);
    background-color: var(--color-black);
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &--active {
      background-color: var(--color-sundance);
    }

    &:hover {
      background-color: var(--color-ebony-clay);
    }

    &:focus {
      border-color: var(--color-sundance);
    }

    &:active {
      background-color: var(--color-sundance);
    }
  }
}

@media (max-width: 576px) {
  .form {

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__title-wrapper, &__select, .form-control--col-2 {
      grid-column: 1 span;
    }
  }

}
