.form-search {

  &__label {
    @include flex-v-center;
    gap: 10px;
    padding: 16px 20px;
    background-color: var(--color-black);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);;
    }
  
    &:focus-within {
      border-color: var(--color-sundance);
    }

  }
  
  &__icon {
    width: 24px;
    height: 24px;


    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__input {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    border: none;
    color: var(--color-gray);
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--color-gray);
    }

    &::selection {
      background-color: var(--color-gray);
      color: var(--color-light);
    }
      
  }

  &__btn {
    &:active {
      color: var(--color-sundance);

      + .form-search__input {
        color: var(--color-light);
      }
    }
  }

  
}