.header {
  background-color: var(--color-black);
  padding: 32px 0;

  &-min {
    padding: 23px;
    background-color: transparent;
  }

  &__logo {
    margin-right: 60px;

    img {
      vertical-align: middle;
    }
  }

  &__container {
    @include flex-v-center;
  }

  &__nav {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .header {

    &__logo {
      margin-right: 20px;
    }
  }
  
}

@media (max-width: 576px) {
  .header {
    padding: 17px 0;

    &__container {
      flex-wrap: wrap;
      gap: 10px;
    }

    &__logo {
      margin-right: auto;
    }

    &__nav {
      order: 1;
      width: 100%;
    }

  }
}
