.profile {
  max-width: 288px;
  display: flex;
  align-items: center;
  grid-gap: 12px;

  &__wrapper-avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--color-gray);
    outline: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--big {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    @include flex-h-center;
    flex-direction: column;
    gap: 4px;

    &--big {
      gap: 16px;
    }
  }

  &__header {
    @include flex-v-center;
    gap: 4px;
  }

  &__title {
    margin: 0;
  }

  &__btn-more {
    @include bg-img-styles;
    color: #fff;
    width: 24px;
    height: 24px;
    background-image: url('../img/arrow-down.svg');
  }

  &__account {
    color: var(--color-gray);
  }
}