<section class="auth">
  <div class="container auth__container">
    <div class="auth__slider-wrapper">
      <div class="auth__slider auth-slider">
        <ul class="swiper-wrapper list-reset">
          <!-- Slides -->
          <li class="auth-slider__slide swiper-slide">
            <img src="123" alt="img-name">
          </li>
          <li class="auth-slider__slide swiper-slide">
            <img src="123" alt="img-name">
          </li>
          <li class="auth-slider__slide swiper-slide">
            <img src="123" alt="img-name">
          </li>
        </ul>
      </div>
      <button class="auth-slider__btn-prev arrow-btn">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <button class="auth-slider__btn-next arrow-btn">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
    </div>

    <form action="#" class="auth__form form">
      <h2 class="form__title form__title--size">Авторизация</h2>
      <div class="form-control fs-small form-control--bgc-ebony-clay form-control--min-height form-control--error">
        <span class="form-control__error-text fs-extra-small">Проверьте правильность данных</span>
        <input class="form-control__input" id="tel" type="text" placeholder=" " name="phone" value="+7 (000) 000 00-00">
        <label class="form-control__label" for="tel">Номер телефона:</label>
      </div>
      <div class="form-control fs-small form-control--bgc-ebony-clay form-control--min-height ">
        <span class="form-control__error-text fs-extra-small">Проверьте правильность данных</span>
        <input class="form-control__input" id="pass" type="password" placeholder=" " name="pass" value="123456789">
        <label class="form-control__label" for="pass">Пароль:</label>
      </div>
      <button class="btn btn--primary form__button" type="submit">Войти</button>
    </form>
  </div>

  <script>
    document.querySelectorAll('.auth-slider__slide img')
    .forEach(img => img.src = `https://loremflickr.com/720/1080?lock=${Math.ceil(Math.random() * 1000)}`);
  </script>
</section>
