<header class="header header--main">
  <div class="container header__container">
    <a href="#" class="logo header__logo">
      <img src="img/logo.svg" alt="CBS Finance Group logo">
    </a>
    <!-- navigation -->
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Платежи</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Выписки</a>
        </li>
      </ul>
    </nav>
    <!-- profile -->
    <div class="profile header__profile">
      <a href="#" class="profile__avatar-link">
        <img src="img/avatar.jpg" alt="Ava" class="profile__avatar">
      </a>
      <h2 class="profile__title">
        <span>ООО Мое предприятие</span>
        <button class="profile__btn-more">
          
        </button>
      </h2>
      <a href="#" class="profile__account">Основной счет</a>
    </div>
  </div>
</header>
