<header class="header header--main">
  <div class="container header__container">
    <a href="index.html" class="logo header__logo">
      <picture>
        <source srcset="img/logo.svg" media="(min-width: 800px)">
        <img src="img/logo-min.svg" alt="CBS logo">
       </picture>
      <!-- <img src="img/logo.svg" alt="CBS Finance Group logo"> -->
    </a>
    <!-- navigation -->
    <nav class="nav header__nav">
      <a href="#" class="nav__link fs-txt">Платежи</a>
      <a href="#" class="nav__link fs-txt">Выписки</a>
    </nav>
    <!-- profile -->
    <div class="profile header__profile">
      <div class="profile__wrapper-avatar">
        <img src="img/avatar.jpg" alt="Ava" class="profile__avatar">
      </div>
      <div class="profile__text">
        <div class="profile__header">
          <h2 class="profile__title fs-txt">
            ООО Мое предприятие
          </h2>
          <button class="profile__btn-more">

          </button>
        </div>

        <span class="profile__account fs-extra-small">Основной счет</span>
      </div>
    </div>
  </div>
</header>
