<section class="payments-history">
  <div class="container  payments-history__container">
    <div class="payments-history__tabs tabs">
      <button class="tabs__btn btn-tab btn-tab--active" type="button">Все платежи</button>
      <button class="tabs__btn btn-tab" type="button">Отправлено в банк
        <span>(5)</span>
      </button>
      <button class="tabs__btn btn-tab" type="button">Исполнено
        <span>(190)</span>
      </button>
      <button class="tabs__btn btn-tab" type="button">Черновик
        <span>(5)</span>
      </button>
      <button class="tabs__btn btn-tab" type="button">На подписании
        <span>(1)</span>
      </button>
      <button class="tabs__btn btn-tab" type="button">К отправке
        <span>(7)</span>
      </button>
      <button class="tabs__btn btn-tab" type="button">Отклонено
        <span>(2)</span>
      </button>
    </div>
    <form action="#" class="payments-history__form-search form-search">
      <div class="form-control form-control--bgc-black form-control--padding ">
        <span class="form-control__icon">
          <svg>
            <use xlink:href="img/sprite.svg#search-icon"></use>
          </svg>
        </span>
        <input class="form-control__input" id="search-input" type="text" placeholder="Поиск по контрагенту и ИНН" name="name">
        <label class="form-control__label" for="search-input"></label>
      </div>
    </form>
    <div class="history payments-history__item">
      <div class="history__title-wrapper">
        <h2 class="history__title fs-h2">
          11 Ноября
        </h2>
        <span class="history__subtitle fs-txt">Сегодня</span>
      </div>

      <ul class=" history__list list-reset">
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="https://loremflickr.com/240/240" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="img/history-img.jpg" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--red">- 8 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="https://loremflickr.com/240/240" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="img/history-img.jpg" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="history payments-history__item">
      <div class="history__title-wrapper">
        <h2 class="history__title fs-h2">
          10 Ноября
        </h2>
        <span class="history__subtitle fs-txt">Вчера</span>
      </div>
      <ul class=" history__list list-reset">
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="https://loremflickr.com/240/240" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="img/history-img.jpg" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--red">- 8 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="https://loremflickr.com/240/240" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name profile">
              <a href="#" class="profile__wrapper-avatar profile__wrapper-avatar--big">
                <img src="img/history-img.jpg" alt="Ava" class="profile__avatar">
              </a>
              <div class="profile__text profile__text--big">
                <span class="profile__account fs-extra-small">Основной счет</span>
                <h2 class="profile__title fs-txt">
                  ООО Мое предприятие
                </h2>
              </div>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money fs-small history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info fs-extra-small">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status btn-tab btn-tab--bg-black"">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__title fs-txt">ООО «Предприятие»</span>
                <span class="history-card__title fs-txt">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">Основной счет</span>
                  <span class="history-card__num fs-txt">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">БИК</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">ИНН</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text fs-extra-small">КПП</span>
                  <span class="history-card__num fs-txt">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <button class="history-item__payments-btn btn btn--secondary" type="button">Повторить платёж</button>
              <button class="history-item__payments-btn btn btn--secondary" type="button">Отозвать платеж</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    document.querySelectorAll('.profile__avatar')
    .forEach(img => img.src = `https://loremflickr.com/240/240?lock=${Math.ceil(Math.random() * 1000)}`);
  </script>
</section>

