<section class="payments-history">
  <div class="container  payments-history__container">
    <div class="history payments-history__item">
      <h2 class="history__title">
        11 Ноября
        <span>Сегодня</span>
      </h2>
      <ul class=" history__list list-reset">
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="https://via.placeholder.com/100" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="img/history-img.jpg" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="https://via.placeholder.com/100" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="img/history-img.jpg" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="history payments-history__item">
      <h2 class="history__title">
        10 Ноября
        <span>Вчера</span>
      </h2>
      <ul class=" history__list list-reset">
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="https://via.placeholder.com/100" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="img/history-img.jpg" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class="history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="https://via.placeholder.com/100" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Исполнено</span>
            <button class="history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
        <li class=" history__item history-item">
          <div class="history-item__wrapper">
            <div class="history-item__name">
              <div class="history-item__avatar-wrapper">
                <img src="img/history-img.jpg" alt="avatar" class="history-item__img">
              </div>
              <span class="history-item__payment-type">Основной счет</span>
              <h3 class="history-item__title">ООО «Майкрософт»</h3>
            </div>
            <div class="history-item__money-wrapper">
              <span class="history-item__money history-item__money--green">+ 16 000,00 ₽</span>
              <span class="history-item__info">Платеж по договору № 10/1-Л-73</span>
            </div>
            <span class="history-item__status">Отправлено в банк</span>
            <button class="history-item__btn history-item__btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down" />
              </svg>
            </button>
          </div>
          <div class="history-item__more-wrapper">
            <div class="history-item__cards">
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
              <div class="history-item__card history-card">
                <span class="history-card__name">ООО «Предприятие»</span>
                <span class="history-card__bank">ПАО Росбанк</span>
                <div class="history-card__border"></div>
                <div class="history-card__info">
                  <span class="history-card__text">Основной счет</span>
                  <span class="history-card__num">80415 123 400000033871</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">БИК</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">ИНН</span>
                  <span class="history-card__num">56787654567</span>
                </div>
                <div class="history-card__info">
                  <span class="history-card__text">КПП</span>
                  <span class="history-card__num">56787654567</span>
                </div>
              </div>
            </div>
            <div class="history-item__buttons">
              <a href="#" class="history-item__payments-btn btn-link">Повторить платёж</a>
              <a href="#" class="history-item__payments-btn btn-link">Отозвать платеж</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>