html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:disabled {
  cursor: not-allowed;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--color-vulcan-bg);
  color: var(--color-light);
  min-height: 100vh;
  // user-select: none; 
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color-steel-gray);
  color: var(--color-light);
}

.site-container {
  min-height: inherit;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.main {
  padding-top: 50px;
  padding-bottom: 170px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}



.arrow-btn {
  width: 24px;
  height: 24px;
  background: #111320;
  color: var(--color-sundance);
  border: 1px solid transparent;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:focus {
    border-color: var(--color-sundance);
  }
}


