html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--color-vulcan-bg);
  color: var(--color-light);
  min-height: 100vh;
  // user-select: none; 
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color-steel-gray);
  color: var(--color-light);
}

.site-container {
  min-height: inherit;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.main {
  padding-top: 50px;
  padding-bottom: 170px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-link {
  display: inline-flex;
  align-items: center;
  padding: 16px 25px;
  font-weight: 600;
  border: 1px solid #999999;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #999999;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:active {
    background-color: transparent;
  }
}

.arrow-btn {
  width: 24px;
  height: 24px;
  background: #111320;
  color: var(--color-sundance);
  border: 1px solid transparent;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:focus {
    border-color: var(--color-sundance);
  }
}


.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/check.svg");
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:focus + &__text {
    outline: 3px solid var(--color-primary);
  }
}

.tooltip {
  position: relative;
  display: block;
  width: 290px;
  background-color: var(--color-black);
  padding: 12px 16px;
  border-radius: 10px;
  color: var(--color-light);
  font-family: 'Graphik';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  z-index: -1;
  user-select: text;

  &::after {
    content: '';
    top: -20%;
    right: 20px;
    transform: rotate(45deg);
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-color: inherit;
  }
}