// colors
:root {
  // colors 
  --color-black: #000000;
  --color-vulcan-bg: #121320;
  --color-ebony-clay: #2b2d3f;
  --color-sundance: #c6ab5b;
  --color-malachite: #17c328;
  --color-carnation: #f24361;
  --color-light: #fff;
  --color-gray: #bbbbbb;

  //
  --border-gray: #999;

  //
  --disabled-color: #46495C;
  
  // 
  --grid-gap: 32px;

  // media 
  --tablet-media: 768px;

  // fonts 

  --fs-h1: 40px;
  --fs-h2: 30px;
  --fs-txt: 18px;
  --fs-small: 16px;
  --fs-extra-small: 14px;
}
