// colors
:root {
  // colors 
  --color-black: #000000;
  --color-vulcan-bg: #121320;
  --color-ebony-clay: #2b2d3f;
  --color-sundance: #c6ab5b;
  --color-malachite: #17c328;
  --color-carnation: #f24361;
  --color-light: #fff;
  --color-gray: #bbbbbb;

  // 
  --grid-gap: 32px;
}
